*, *::before, *::after {
    font-family: sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 14.5pt;
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #336c7a;
    height: 70px;
}

header img {
    display: inline;
    margin: 0 20px;
    height: 80%;
}

main {
    min-width: 300px;
    width: 100%;
}

table#criteria-table {
    min-width: min(400px, 450px);
}

p { text-align: center }

p#table-information span {
    padding: 3px 10px;
    border: 2px solid #535353;
}

p#weight-table-result span:not(:empty) {
    padding: 5px;
    border: 2px dotted #535353;
}


table {
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}

table, tr, th, td {
    font-size: 13pt;
    border: 2px solid #929292;
}

th, td {
    text-align: center;
}

td {
    padding: 3px;
    height: 25px;
}

tr:nth-child(odd):not(:last-child) {
    background-color: #d8d8d8;
}

th {
    height: 40px;
    width: 15vw;
    padding: 5px;
    border: 3px solid #535353;
    background-color: #79cde2;
}

.current-cell {
    background-color: #c2f3ff;
    border: 3px solid;
}

.column-zero {
    max-width: 35px;
}

header {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
}

.enum {
    background-color: #4e4e4e;
    color: #ffffff;
}

.criteria-ok { background-color: #62cb26; color: #ffffff; }
.criteria-nok { background-color: #eb3636; color: #ffffff; }

#buttons-container {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 46px;
    margin: 13px auto;
}

button {
    font-size: 12pt;
    width: min(fit-content, 13vw);
    background-color: #51b6cf;
    color: #ffffff;
    border: 3px solid #535353;
    border-radius: 20px;
    box-shadow: 3px 3px #000000;
    transition: all 100ms;
}

button:active {
    width: 12vw;
    box-shadow: none;
}