*, *::before, *::after {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 14.5pt;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
}

h1 { font-size: 25pt; text-align: center;}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #336c7a;
    height: 70px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #134957;
    color: white;
    text-align: center;
}