*, *::before, *::after {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 14.5pt;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #336c7a;
    height: 70px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    padding: 2vw;
    color: #ffffff;
    text-decoration: none;
}