*, *::before, *::after {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}

*:focus { outline: none; }

body { 
    margin: 0;
    font-size: 14.5pt;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #336c7a;
    height: 70px;
}

#homePageTitle {
    padding: 0.5vw;
    border: 2px solid #202a35;
    background-color: #2f445c;
    color: #ffff;
}

article {
    width: min(650px, 100%);
    border: 3px solid #202a35;
    margin: 3vh auto;
    padding: 20px;
}

h1, h2 { 
    text-align: center;
    font-size: 1.5rem;
}

ul {
    list-style-type: square;
}

ul a {
    text-decoration: none;
    color: #342264;
    font-size: 1.2rem;
}

ul li { 
    width: fit-content;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #134957;
    color: white;
    text-align: center;
}