*, *::before, *::after {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 14.5pt;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #336c7a;
    height: 70px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    padding: 2vw;
    color: #ffffff;
    text-decoration: none;
}

form {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
    border: 2px solid #000000;
    padding: 30px;
}

label {
    margin: 20px 0;
}

input {
    margin: 10px 0;
    width: 100%;
}

button {
    max-width:90%;
  display:inline-block;
  white-space: normal;
  overflow:hidden;
  text-overflow:ellipsis;
}


table {
    margin: 0 auto 10px;
    border: 1px solid;
    border-collapse: collapse;
}

tr, th, td {
    padding: 10px;
    border: 1px solid;
}

#preview-pdf iframe {
    width: 100vw;
    height: 100vh;
}