:root {
    --error-red: #e92929;
    --bordercolor-default: #273f47;
}



*, *::before, *::after {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 14.5pt;
}

*:focus {
    outline: none;
}

body {
    background-color: #56a3cf;
}

main {
    margin-top: 40px;
}

form {
    background-color: #e0e0e0;
    border: 5px solid var(--bordercolor-default);
    border-radius: 20px;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px 0;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

select, input {
    width: 80%;
    padding: 5px;
    text-align: center;
    margin: 10px 0;
    border: 3px solid var(--bordercolor-default);
    border-radius: 20px;
    transition: transform 100ms;
}

:focus:is(select, input) {
    transform: scale(105%);
}

:invalid:is(select, input) {
    color: var(--error-red);
    border-color: var(--error-red);
}

button#btn-save-data {
    display: block;
    padding: 10px;
    font-size: 1.1rem;
    margin: 15px auto 10px;
    background-color: #51b6cf;
    color: #ffffff;
    border: 3px solid var(--bordercolor-default);
    border-radius: 10px;
}

.error-msg {
    color: var(--error-red);
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.disclaimer {
    font-size: 0.75rem;
    padding: 5px;
    margin-top: 0;
}